<h1 style="text-align: center;">Food Items</h1>
<div *ngFor="let i of food">
    <div class="flex-container1">
        <div>
        <h6>{{i.name}}</h6>
    </div> 
    <div>
    <h6>{{i.price | price}}</h6>
    </div>
    <div>
        <button (click)="cart()"> add to cart</button>

        </div>
    </div>
</div>