.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }

  .flex-container1>div {
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 1px;
    
  }