<html>
    <head>
        <meta charset="utf-8">
        <!-- <title>Responsive Navbar with Search Box | CodingNepal</title> -->
        <link rel="stylesheet" href="home.component.scss">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
      
      
        <!-- start -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
          .column1 {
            float: left;
            width: 1%;
            padding: 15px;
            margin-top: 8%;
      
          }
      
          .column2 {
            float: left;
            width: 90%;
            padding: 5px;
            margin-left: 70px;
      
          }
      
          .column3 {
            float: left;
            width: 1%;
            padding: 5px;
            margin-top: 9%;
      
          }
        </style>
        <!-- end -->
      </head>
      
<body>
    <div>
        <div class="rmovies">
          <h1>Food Dishes</h1>
        </div>
    
        <!-- <div class="row" > -->
        <div class="column1">
          <span class="glyphicon glyphicon-chevron-left" (click)="slickModal.slickPrev()"></span>
        </div>
        <div class="column2">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    
            <div ngxSlickItem *ngFor="let slide of slides,let i = index" class="slide">
              <img src={{imgs[i]}} alt="" width="75%" style="margin-right:10px;border-radius: 25px;">
            </div>
    
          </ngx-slick-carousel>
        </div>
        <div class="column3">
          <span class="glyphicon glyphicon-chevron-right" (click)="slickModal.slickNext()"></span>
        </div>
      </div>
</body>
</html>